body {
    background-color: #2E3440;
    font-family: 'Montserrat', sans-serif;
    height: 98vh;
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.title {
    color: #D8DEE9;
    font-size: 32px;
    font-weight: 700;
}

.copyright {
    color: #D8DEE9;
    font-weight: 500;
}